create table if not exists ${table_name} ${tbl_columns}
partitioned by(y int, m int, d int)
clustered by ${cluster_columns} into 1 buckets
STORED AS ORC
TBLPROPERTIES
("transactional"="true",
  "compactor.mapreduce.map.memory.mb"="1048",
  "compactorthreshold.hive.compactor.delta.num.threshold"="20",
  "compactorthreshold.hive.compactor.delta.pct.threshold"="0.5"
);
